/* Created by: Ashley Monaghan
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

body {
  background-color: #515f81;
}

h1 {
  text-align: center;
  color: white;
}

.my-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 45%;
}

h4 {
  text-align: center;
  color: white;
}

p {
  color: whitesmoke;
}